# --
# Copyright (C) 2022 mo-azfar, https://github.com/mo-azfar/OTRS-SLA-Progress-Bar-and-Remark
#
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (GPL). If you
# did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
# --
       
            <div class="WidgetSimple">
                <div class="Header">
                    <div class="WidgetAction Toggle">
                        <a href="#" title="[% Translate("Show or hide the content") | html %]"><i class="fa fa-caret-right"></i><i class="fa fa-caret-down"></i></a>
                    </div>
                    <h2>[% Translate(Data.WidgetTitle) | html %]</h2>
                </div>
                <div class="Content">
                    <fieldset class="TableLike FixedLabelSmall Narrow">
[% RenderBlockStart("FirstResponseTimeRemark") %]                   
                        <!-- begin progress bar -->
                        <label>[% Translate("First Response Time Progress") | html %]:</label>
                        <div class="Value">
                            <div class="progress-bar">[% Data.FirstResponseTimeProgress | html %] [% Data.FirstResponseTimeStatus | html %]
                            <span class="[% Data.FirstResponseTimeProgressClass | html %]" style="width: [% Data.FirstResponseTimeProgress | html %];" ></span>
                            </div>
                        </div>
                        <div class="Clear"></div>
                        <!-- end progress bar -->
[% RenderBlockEnd("FirstResponseTimeRemark") %]
[% RenderBlockStart("SolutionTimeRemark") %]
                        <!-- begin progress bar -->
                        <label>[% Translate("Solution Time Progress") | html %]:</label>
                        <div class="Value">
                            <div class="progress-bar">[% Data.SolutionTimeProgress | html %] [% Data.SolutionTimeStatus | html %]
                            <span class="[% Data.SolutionTimeProgressClass | html %]" style="width: [% Data.SolutionTimeProgress | html %];"></span>
                            </div>
                        </div>
                        <div class="Clear"></div>
                        <!-- end progress bar -->
[% RenderBlockEnd("SolutionTimeRemark") %]
                    </fieldset>
                </div>
            </div>
