# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (GPL). If you
# did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
# --
       
            <div class="WidgetSimple">
                <div class="Header">
                    <div class="WidgetAction Toggle">
                        <a href="#" title="[% Translate("Show or hide the content") | html %]"><i class="fa fa-caret-right"></i><i class="fa fa-caret-down"></i></a>
                    </div>
                    <h2>[% Translate(Data.WidgetTitle) | html %]</h2>
                </div>
                <div class="Content">
                    <fieldset class="TableLike FixedLabelSmall Narrow">
[% RenderBlockStart("FirstResponseTimeRemark") %]                   
                        <!-- begin progress bar -->
                        <label>[% Translate("First Response Time Progress") | html %]:</label>
                        <div class="Value">
                            <div class="progress-bar">[% Data.FirstResponseTimeProgress | html %]
                            <span class="progress-bar-fill" style="width: [% Data.FirstResponseTimeProgress | html %];"></span>
                            </div>
                        </div>
                        <div class="Clear"></div>
                        <!-- end progress bar -->
                        <!-- begin sla first response time remark -->
                        <label>[% Translate("First Response Time Status") | html %]:</label>
                        <div class="Value">
                            <p title="[% Translate("Status") | html %]: [% Data.FirstResponseTimeStatus | html %]" class="[% Data.FirstResponseTimeClass | html %]">
                            [% Data.FirstResponseTimeStatus | html %]
                           </p>
                        </div>
                        <div class="Clear"></div>
                        <!-- end sla first response time remark -->
[% RenderBlockEnd("FirstResponseTimeRemark") %]
[% RenderBlockStart("SolutionTimeRemark") %]
                        <!-- begin progress bar -->
                        <label>[% Translate("Solution Time Progress") | html %]:</label>
                        <div class="Value">
                            <div class="progress-bar">[% Data.SolutionTimeProgress | html %]
                            <span class="progress-bar-fill" style="width: [% Data.SolutionTimeProgress | html %];"></span>
                            </div>
                        </div>
                        <div class="Clear"></div>
                        <!-- end progress bar -->
                        <!-- begin sla solution time remark -->
                        <label>[% Translate("Solution Time Status") | html %]:</label>
                        <div class="Value">
                            <p title="[% Translate("Status") | html %]: [% Data.SolutionTimeStatus | html %]" class="[% Data.SolutionTimeClass | html %]">
                            [% Data.SolutionTimeStatus | html %]
                           </p>
                        </div>
                        <div class="Clear"></div>
                        <!-- end sla solution time remark -->
[% RenderBlockEnd("SolutionTimeRemark") %]
                    </fieldset>
                </div>
            </div>
